<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragments/head :: flg_head">
</th:block>
<link rel="stylesheet" href="/css/board/board-create.css">
</head>
<body class="d-flex flex-column h-100">

	<th:block th:replace="fragments/nav :: flg_nav"></th:block>

	<!-- Header-->
	<div class="create_section">
		<div id="contentHeader">
			<div id="contentTitle">
				<p>멘토 게시판</p>
			</div>
		</div>
		<hr>
		<form action="/mentor/mentor-board-update" encType = "multipart/form-data" method="post">
		<div id="createBody">
			<input type="hidden" name="bdIdx"/>
			<div>
			제목 : <input type="text" name="bdTitle"/>
			파일 : <input type="file" name="fileName" multiple/>
			</div>
			<hr>
			<div id="createBox">
				<textarea id="createBox" name="bdContent" required="required" maxlength="1000">
				</textarea>
			</div>
			<hr>
		</div>

		<div class="create_footer">
			<button id="returnButton" type="button" onclick="location.href='mentor'">목록</button>
			<div id="wrapButton">
				<button type="submit">수정</button>
			</div>
		</div>
		</form>
	</div>

	<!-- Features section-->


	<th:block th:replace="fragments/footer :: flg_footer"></th:block>
	<th:block th:replace="fragments/jsFiles :: flg_jsFiles"></th:block>


</body>
</html>