<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragments/head :: flg_head">
</th:block>
<link rel="stylesheet" href="/css/board/board-content.css">
</head>
<body class="d-flex flex-column h-100">

	<th:block th:replace="fragments/nav :: flg_nav"></th:block>

	<!-- Header-->
	<div class="content_section">
		<div id="contentHeader">
			<div id="contentTitle">
				<p>멘토 게시판</p>
			</div>
		</div>
		<hr>
		<div id="contentBody">
			<table class="content_table" border="0">
				<thead class="content_thead">
					<tr class="content_tr">
						<th class="content_info" id="contentNo"></th>
						<th class="content_info" id="content"></th>
						<th class="content_info" id="contentWriter" name="userId">작성자
							: 
						</th>
						<th class="content_info" id="contentDate"></th>
						<th class="content_info" id="contentView">조회수 : </th>
						<th class="content_info" id="contentRec">추천수 : </th>
					</tr>
				</thead>
			</table>
			<hr>
			<div id="contentBox">
				<div>
				<!-- 
					<c:forEach items="${datas.files}" var="file">
					<img src="${file.downloadURL}" style="height: 500px;width: 500px;"><br>
					</c:forEach>
					<c:out value="${datas.boardMentor.bdContent}" />
				 -->
				</div>
			</div>
			<div class='info file_info'>
				<ol>
				<!-- 
					<c:forEach items="${datas.files}" var="file">
						<li id="liTag"><a id="fileName"
							href="/file/${file.savePath}${file.renameFileName}?originName=${file.originFileName}">${file.originFileName}<i class="fas fa-paperclip" id="fileClip"></i></a></li>
					</c:forEach>
				 -->
				</ol>
			</div>
			<div id="otherUtil">
				<a href="mentor/mentor-board-detail/content-recommend?bdIdx=${datas.boardMentor.bdIdx}&userId=${datas.boardMentor.userId}">추천</a> <a id="shareURL" onclick="clip(); return false;">공유</a>
			</div>
			<hr>
			<table class="comment_table" border="0">
				<!-- 
				<c:forEach items="${boardCommentList}" var="commentList" varStatus="status">
					<tr class="comment_tr">
						<th class="comment_info">${commentList.userId}</th>
						<th class="comment_info">${commentList.coContent}</th>
						<th class="comment_info"><i class="fas fa-times" id="commentDelete" onclick="location.href='mentor/comment-delete?coIdx=${commentList.coIdx}&userId=${commentList.userId}&bdIdx=${datas.boardMentor.bdIdx}'"></i></th>
						<th class="comment_info">${commentList.detailDate}</th>
						<th class="comment_info"><i class="far fa-thumbs-up" id="commentRecommend" onclick="location.href='mentor/comment-recommend?coIdx=${commentList.coIdx}&userId=${commentList.userId}&bdIdx=${datas.boardMentor.bdIdx}'" ></i>${commentList.recCount}</th>
					</tr>
				</c:forEach>
				 -->
			</table>
			<hr>
			<form class="wrap_comment" action="/mentor/comment-upload">
				<input type="hidden" name="bdIdx" value="${datas.boardMentor.bdIdx}"/>
				<textarea id="commentBox" required="required" maxlength="100" name="coComment"></textarea>
				<button id="writeButton">등록</button>
			</form>
			<hr>
		</div>

		<div class="content_footer">
			<button id="returnButton" type="button"
				onclick="location.href='mentor'">목록</button>
			<div id="wrapButton">
				<button type="button"
					onclick="location.href='mentor/mentor-board-modify?bdIdx=${datas.boardMentor.bdIdx}&userId=${datas.boardMentor.userId}'">수정</button>
				<button type="button"
					onclick="location.href='mentor/mentor-board-delete?bdIdx=${datas.boardMentor.bdIdx}&userId=${datas.boardMentor.userId}'">삭제</button>
			</div>
		</div>
	</div>

	<!-- Features section-->


	<th:block th:replace="fragments/footer :: flg_footer"></th:block>
	<th:block th:replace="fragments/jsFiles :: flg_jsFiles"></th:block>
	<script type="text/javascript">
	function clip(){

		var url = '';
		var textarea = document.createElement("textarea");
		document.body.appendChild(textarea);
		url = window.document.location.href;
		textarea.value = url;
		textarea.select();
		document.execCommand("copy");
		document.body.removeChild(textarea);
		alert("URL이 복사되었습니다.")
	}

	</script>

</body>
</html>