<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MENTOR & MENTEE - 멘토 정보</title>
<th:block th:replace="fragments/head :: flg_head">
</th:block>
<link rel="stylesheet" href="/css/member/mypage.css">
</head>
<body class="bg-right">


<th:block th:replace="fragments/nav :: flg_nav"></th:block>

	<div class="container-fluid"
		style="padding-top: 9rem; padding-bottom: 9rem">
		<div class="row">
			<div class="col-md-10 col-11 mx-auto">


				<!-- Side navbar -->
				<div class="row">
					<div class="col-lg-3 col-md-4 d-md-block">
						<div class="card bg-common card-left bg-commom">
							<div class="profile">
								<img
									src="파일url"
									class="card-img-top img-fluid rounded-circle" alt=""
									style="margin: 15px auto; width: 120px; height: 120px; display: block">
								<h1 class="text-light mb-2">회원이름</h1>
								<h4 class="text-light mb-2">멘토링 횟수:</h4>
							</div>
							<div class="card-body"></div>
						</div>
					</div>
					<!-- right side div -->
					<div class="col-lg-9 col-md-8">
						<div class="card">



							<!-- user profile start -->
							<div class="card-body tab-content border-0">
								<!-- profile data -->
								<div class="tab-pane active" id="profile">
									<h6>Your Profile Information</h6>
									<hr>
									<form>
										<div class="mb-3">
											<label for="exampleFormControlInput" class="form-label">이름</label>

											<div class="form-control" id="exampleFormControlInput">회원이름
											</div>

										</div>
										<div class="mb-3">
											<label for="exampleFormControlInput" class="form-label">email</label>

											<div class="form-control" id="exampleFormControlInput">회원이메일</div>

										</div>
										<div class="mb-3">
											<label for="exampleFormControlInput" class="form-label">주소</label>

											<div class="form-control" id="exampleFormControlInput">회원주소</div>

										</div>
										<div class="mb-3">
											<label for="exampleFormControlInput" class="form-label">대학</label>

											<div class="form-control" id="exampleFormControlInput">회원대학</div>

										</div>
										<div class="mb-3">
											<label for="exampleFormControlInput" class="form-label">전공 계열</label>

											<div class="form-control" id="exampleFormControlInput">회원 전공</div>

										</div>

										<div class="mb-3">
											<label for="exampleFormControlTextarea1" class="form-label">이력사항</label>
											<div class="myHistory" id="exampleFormControlTextarea1">
												<!-- 
												<c:forTokens items="${mentorInfo.history}" delims=","
													var="hist">
													<div>-${hist}</div>
												</c:forTokens>
												 -->
											</div>
										</div>


										<br>

										<a class="btn btn-outline-info" href="javascript:history.back();">멘토링 신청하기</a>
									</form>
								</div>






							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>













	<th:block th:replace="fragments/footer :: flg_footer"></th:block>
	<th:block th:replace="fragments/jsFiles :: flg_jsFiles"></th:block>
</body>
</html>