<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>MENTOR & MENTEE</title>

<th:block th:replace="fragments/head :: flg_head">
</th:block>
<link rel="stylesheet" href="/css/todo/reset.css">
<link rel="stylesheet" href="/css/todo/test.css">


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css">
<script src='https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.9.0/main.min.js,
											npm/fullcalendar@5.9.0/locales-all.min.js'></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  
</head>


<body class="d-flex flex-column h-100">
    
<th:block th:replace="fragments/nav :: flg_nav"></th:block>
 
<main class="flex-shrink-0">
            
<script src="/js/todo/todo-detail.js"></script>

<input type="hidden" name="color" id="todo_color" />
<input type="hidden" name="start" id="todo_start" />
<input type="hidden" name="end" id="todo_end" />
<input type="hidden" name="title" id="todo_title" />
<input type="hidden" name="todoIdx" id="todo_idx" />

<div class="wrap-calendar"><div id='calendar' class="calendar"></div></div>


	<!-- Footer-->

<th:block th:replace="fragments/footer :: flg_footer"></th:block>
<th:block th:replace="fragments/jsFiles :: flg_jsFiles"></th:block>
</body>
</html>